body {
  background-color: grey;
}

#image-container, #overlay {
  height: 2000px;
}

#image-container, #overlay, #other-things{
  width: 950px;
  position: absolute;
  left: 50%;
  margin-left: -475px;
}

#other-things {
  top: 580px;
}

#overlay img {
}

#image-container {
  background-image: url('images/cactus-1.jpg');
  background-repeat: no-repeat;
  background-width: 950px;
  background-color: white;
}

#overlay {
  background-image: url('images/overlay.png');
}

#image-controls {
  padding-top: 250px;
  width: 950px;
  text-align: center;
}

#playlist {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#image-controls li {
  display: inline;
  font-size: 2.5em;
  color: white;
  cursor: pointer;
}

#playlist {
  background-color: white;
}

#playlist iframe:nth-child(2){
  margin-left: 100px;
}

#story {
  margin: 50px;
  height: 400px;
  overflow: scroll;
}

#story p {
  margin-bottom: 1em;
}
