<div id='image-container'>
</div>

<div id='overlay'>
  <div id='image-controls' class='controls'>
    <ul>
      <% @images.each do |image| %>
        <li data-image="<%= image.image_file.url %>">&bull;</li>
      <% end %>
    </ul>
  </div>
</div>

<div id='other-things'>
  <div id='playlist'>
    <% @playlists.each do |playlist| %>
      <%= playlist.embed_code.html_safe %>
    <% end %>
  </div>

  <div id='story'>
    <%= @stories.first.body.html_safe %>
  </div>

  <div id='story-controls' class='controls'>
    <ul>
      <% @stories.each do |story| %>
        <li data-story_id="<%= story.id %>">&bull;</li>
      <% end %>
    </ul>
  </div>


</div>

