<div id='image-container'>
</div>

<div id='overlay'>
  <div id='image-controls'>
    <ul>
      <% @images.each do |image| %>
        <li data-image="<%= image.image_file.url %>">&bull;</li>
      <% end %>
    </ul>
  </div>
</div>

<div id='other-things'>
  <div id='playlist'>
    <% @playlists.each do |playlist| %>
      <%= playlist.embed_code.html_safe %>
    <% end %>
  </div>

  <div id='story'>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum ac velit quis vulputate. Suspendisse ante libero, tempus ut nulla eleifend, sodales scelerisque magna. Sed laoreet quam quam, id convallis purus rutrum sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus ultrices luctus placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam porttitor sit amet sem et viverra. Aenean sodales augue nec pulvinar tempor. Suspendisse et consequat mi. In volutpat nibh nec rhoncus euismod.
    </p>
    <p>
    Sed ultricies leo sed eros ultrices tincidunt. Praesent non odio erat. Suspendisse non commodo libero. Mauris id massa commodo, placerat quam non, ornare nulla. Curabitur elementum placerat risus. Cras ut congue ipsum, et feugiat nulla. Suspendisse rhoncus enim at est mattis mattis. Duis elementum felis ut malesuada gravida. Vivamus lacinia imperdiet mauris id laoreet. Etiam posuere sapien nec lorem facilisis placerat. Nunc nec viverra turpis, at mollis tellus.
    </p>
    <p>

    Suspendisse suscipit lobortis eros, hendrerit vehicula nisi lacinia et. Duis non aliquet justo, vitae facilisis lorem. In at nunc non ipsum ullamcorper lobortis quis nec nunc. Nunc imperdiet eros sit amet justo rutrum, sed molestie est ullamcorper. Phasellus erat sapien, viverra id augue eu, congue feugiat nisi. Cras malesuada vulputate orci, ac commodo sapien egestas consectetur. Vivamus in ullamcorper felis. Vestibulum non feugiat orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </p>
    <p>

    Ut sed mauris malesuada, placerat dui quis, semper metus. Phasellus eu posuere leo. Quisque eget ipsum ut tellus elementum mattis vitae nec lectus. Aenean suscipit vehicula lectus, et scelerisque nisl ultricies non. Nullam pellentesque orci eget mollis interdum. Duis lectus tortor, consequat sit amet ullamcorper eget, consequat vitae dolor. Vivamus sem nisl, pretium vulputate vulputate ac, ultrices vel arcu. Nam metus tortor, imperdiet et lectus ut, mattis pellentesque mauris. Donec pharetra viverra lorem in suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eleifend tellus quam, vitae rhoncus justo mattis eget. Etiam laoreet tortor tortor, et pretium dolor tristique tempor. Proin blandit facilisis tortor, congue tincidunt orci pharetra ac. Nulla ullamcorper quam et laoreet porta. Nunc rhoncus arcu eu libero fermentum tristique. Cras nec porta tortor, eu pharetra metus.
    </p>
    <p>

    Quisque id tristique magna. Duis lacus elit, vestibulum non elementum vitae, ultrices a metus. Nam vel nunc scelerisque, rutrum tortor eget, auctor urna. Nam ultrices arcu vehicula, semper sem ac, consectetur turpis. Nulla eu gravida justo. Quisque rutrum a ipsum ut accumsan. Duis euismod pharetra tellus vitae dictum. Pellentesque ut iaculis sapien. Etiam euismod nulla in mauris tempus scelerisque. Cras nec est erat.
    </p>
    <p>

    Phasellus pretium velit sem, sit amet varius ipsum accumsan feugiat. Sed bibendum sapien et varius vulputate. Proin viverra adipiscing suscipit. Fusce augue tellus, porttitor a interdum id, pulvinar at magna. Quisque sapien est, ultrices nec odio eu, adipiscing ultricies lectus. Donec sed molestie nibh. Suspendisse dui sem, hendrerit eu urna sit amet, porta pellentesque nulla. Donec euismod nulla ligula, eget convallis nisl scelerisque posuere. Nulla pretium augue enim, nec molestie neque interdum et.
    </p>
    <p>

    Donec dictum orci a lectus luctus, fringilla ultricies lectus molestie. Sed sed venenatis libero. Aliquam erat volutpat. Nam ut quam at neque ornare mollis quis ac arcu. Praesent quis auctor quam. Praesent ac dolor id justo laoreet varius vel in lacus. In egestas massa ac malesuada feugiat. Sed at ante sit amet velit varius euismod. Sed malesuada erat vehicula, fermentum purus tempor, elementum nisl. Integer sit amet lacus suscipit, fringilla eros quis, accumsan orci. Nunc semper eget tellus eu auctor. Quisque consectetur felis rhoncus orci aliquet, et consectetur augue molestie. Cras ullamcorper nec odio eu sodales. Proin sollicitudin pretium pellentesque. Nulla sit amet urna nec est pellentesque vulputate nec id ligula. Maecenas sit amet vestibulum magna.
    </p>
  </div>
</div>

